<br>
<br>
<br>
<div>
    <form asp-controller="Subscribe" asp-action="Index" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="E-Mail">
        <button type="submit">Submit</button>
    </form>
</div>