<div>
    <h1>Profile for User @ViewContext.RouteData.Values["id"]</h1>
    <h2>Bob Billy Samuels</h2>
    <p>I like long rides in my pickup and shootin' my shotgun!</p>
    

    <a href="/">Home</a>

</div>